h1 {
  text-align: center;
}

table.type07 {
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
	border: 1px solid #ccc;
}
table.type07 thead {
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	background: #04162e;
}
table.type07 thead th {
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	color: #fff;
  text-align: center;
}
table.type07 tbody th {
	width: 20%;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
	background: #efefef;
  text-align: center;
}
table.type07 td {
	width: 40%;
	padding: 10px;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
}

.wraper_div2{
  overflow: hidden;
  height:400px;
	width:100%;
	margin:auto;
}

.div_box2{
	width:50%;
	float:left;
}

.wraper_div3{
	width:100%;
	margin:auto;
}
.div_box3{
	width:33%;
	float:left;
}
