h1 {
  text-align: center;
}

table.type07 {
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
	border: 1px solid #ccc;
}
table.type07 thead {
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	background: #04162e;
}
table.type07 thead th {
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	color: #fff;
  text-align: center;
}
table.type07 tbody th {
	width: 20%;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
	background: #efefef;
  text-align: center;
}
table.type07 td {
	width: 40%;
	padding: 10px;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
}

.wraper_div2{
  overflow: hidden;
  height:400px;
	width:100%;
	margin:auto;
}

.div_box2{
	width:50%;
	float:left;
}

.wraper_div3{
	width:100%;
	margin:auto;
}
.div_box3{
	width:33%;
	float:left;
}

.page {
  height: 100%;
  margin: 0 auto;
  padding: 10px;
  background-color: #fff;
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
  box-shadow: 0 0 15px #DDDDDD;
}

.page .card .media-body {
  padding: 2px;
  margin: 0 15px;
  background-color: #F5F5F5;
  border-radius: 10px;
  font-size: 15px;
  word-break: break-all;
}

.page .card .media-body h4.media-heading {
  color: #999999;
  font-size: 13px;
}

.page .card a.icon-rounded {
  display: block;
  font-size: 26px;
  color: #fff;
  line-height: normal;
  text-align: center;
  margin: 5px;
  padding: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.page .card .media-left a.icon-rounded {
  background-color: #f0ad4e;
}

.page .card .media-right a.icon-rounded {
  background-color: #5cb85c;
}

.page .chart-form {
  margin: 20px 0;
}
